.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Styles for tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

/* Styles for desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1180px;
    padding: 0;
  }
}
